.profile__columns {
    max-width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 899px) {
    .profile__columns {
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 615px) {
    .profile__columns {
        margin-bottom: 32px;
        flex-direction: column;
    }
}