.popup {
    box-sizing: border-box;
    width: 100%;
    background: #00000080;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .5s, opacity .5s linear;
}

.popup.popup_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

@media screen and (max-width: 615px) {
    .popup {
        padding: 0 19px;
    }
}