.btn_close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 1;
    transition: opacity .3s linear;
}

.btn_close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 615px) {
    .btn_close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
}