.element {
    box-sizing: border-box;
    display: block;
    max-width: 282px;
    max-height: 361px;
    background-color: #fff;
    border-radius: 13px 13px 10px 10px;
}

@media screen and (max-width: 899px) {
    .element {
        max-width: 100%;
    }
}